*{
    box-sizing: border-box;

}
body{
    margin: 0;
    background-color: violet;
    background-image: url(./fondo.jpg); height: 50%; width: 100%;
}
.nav-bar{
     background-color:palevioletred;
     padding: 20px;
     display: block;
     color: white;
     cursor: pointer;
     font: size 1.5em; ;
     width: 100%;
 }  
 .menu, .submenu{
     list-style: none;
     padding: 0;
     margin: 0;

 } 
 .menu{
background-color: violet;
 width: 100%;
  margin-left: -100%;
transition:all 0.5s;
} 

.menu--link{
 display: block; 
padding: 20px;
color: white;
font-size: 1.2em;
text-decoration: none;

}
.menu--link:hover{
    background: papayawhip;
}
 .submenu{
    height: 0;
 overflow: hidden; 
 transition: all 0.3s;} 

.submenu .menu--link{
    background:plum;
    padding-left: 50px;
 }
.mostrar{
    margin-left: 0;
}
.card-body{
    background-color: pink;
    border: black;
    margin: 0;
  
}
h2{
    background-color: blueviolet;
    color: black;
    display: flex;
    font-size: 25px;
    font-family: cursive;
    
}
h3{
    background-color: rgb(221, 206, 206);
    font-size: 20pxpx;
    
    color: slateblue;
    display:inline-flex;
    
 
}
.col{
    display: flex;
}


 
@media(min-width:1024px){
    .nav-bar{
        display: none;
    }
    .menu{
        margin-left: 0px;
        display: flex;
    }
    .container-submenu{
        position: relative;
    }
    .submenu{
       position: absolute;
       top: 60px;
       width: 170px; 
       overflow: visible;
       z-index: 1000;
       opacity:0 ;
       visibility: hidden;
    } 
    .container-submenu:hover .submenu{
        background: papayawhip;
        opacity:1;
       visibility:visible;

    }

    .card{
        background-color: pink;
        border: purple;
        margin: 20px 60px;
      
    }
    h2{
        background-color: blueviolet;
        color: black;
        display: inline-flex;
        font-size: 25px;
        font-family: cursive;
        
    }
    h3{
        background-color: rgb(221, 206, 206);
        font-size: 35px;
        color: slateblue;
        display:inline-flex;
        font-family:cursive
    }
    .col{
        display: flex;
    }
 }